
body{
    overflow-x: hidden;
}
.home .navbar-inverse, .navbar-inverse {
    background-color: #04a2db;
}
.navbar-brand {
    background: url(../img/Web_RA-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    height: 60px;
    width: 160px;
}

.navbar-nav .search input {
    border: 1px solid #04a2db;
}

.home .jumbotron{
    position: relative;
    background: url(../img/homapage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: none;
    height: 650px;
    text-align: center;

}
.jumbotron h1{
    font-size: 40px;
    padding-top: 220px;
}
.home .jumbotron p {
    font-weight: bold;
    font-style: italic!important;
    font-size: 30px!important;
    color: #059ace;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #31708f9c;
}

/*arrow css*/
.arrow_image > img{
align-content: center;
    margin-left: 54em;
}

.arrow_image > .container {
    text-align: center;
    margin-bottom: 25px;

}

.arrow_image > .container h3, .arrow_image > .container p {
    line-height: 1.5em;
}
/*dataset css*/
.datasets{
    position: relative;
    background: url(../img/Background-Blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: none;
    height: 770px;
    text-align: center;
}
.datasets > iframe{
        margin-top: 60px;

}

/*showcase*/

.layers, .docs, .maps{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;

}
.layers p, .docs p, .maps p {
    padding: 15px;
}

/*footer*/
.footer{
    background: #ffffff;
}
.footer_img {
  width: 50%;
}
.footer_img1{
    width: 100%;
}
.footer_img, .footer_img1{
       margin: 55px 0 55px 60px;
}