.navbar-brand {
    background: url(../img/Web_RA-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    height: 60px;
    width: 160px;
}